<!DOCTYPE html>
<html>

 <head>

{# Load the tag library #}
{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
  <!--link rel="stylesheet" href="style-gerer.css" /!-->
 <!--img src="{% static "example.jpg" %}" alt="My image"/-->
<meta charset="utf-8">
  <title> </title>
  </head>
  <header> 
{# Display a form #}
{% load widget_tweaks %}

{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0"></h4>
      <div class="row">
        <div class="form-group col-sm-1 col-md-2">
          {{ tweets_filter.form.tweet.label_tag }}
          {% render_field tweets_filter.form.tweet class="form-control" %}
        </div>
        <div class="form-group col-sm-1 col-md-2">
          {{ tweets_filter.form.country.label_tag }}
          {% render_field tweets_filter.form.country class="form-control" %}
        </div>
        <div class="form-group col-sm-1 col-md-2">
          {{ tweets_filter.form.gender_predicted.label_tag }}
          <div>
            {% for choice in tweets_filter.form.gender_predicted %}
              <label class="checkbox-inline">
                {{ choice.tag }} {{ choice.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="form-group col-sm-1 col-md-3">
          {{ tweets_filter.form.sentiment_type.label_tag }}
          <div>
            {% for choice in tweets_filter.form.sentiment_type %}
              <label class="checkbox-inline">
                {{ choice.tag }} {{ choice.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>
		<div class="form-group col-sm-1 col-md-2">
          {{ tweets_filter.form.dateTime.label_tag }}
	      <div>
           {% render_field tweets_filter.form.dateTime class="form-control" %}
		  </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
 
 

 </header>
 
 <body > 
  <table class="table table-bordered">
    <thead>
      <tr>
	 <th>Tweets</th>
	 <th>Country</th>
	 <th>Gender</th>
	 <th>Date</th>
	 <th>Sentiment</th>
      </tr>
    </thead>
    <tbody>
      {% for tweet in response %}
        <tr>
		<td>{{ tweet.tweet }}</td>
		<td>{{ tweet.country }}</td>
		<td>{{ tweet.gender_predicted }}</td>
		<td>{{ tweet.dateTime }}</td>
		<td>{{ tweet.sentiment_type }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
   {% if response.has_other_pages %}
  <ul class="pagination">
    {% if response.has_previous %}
      <li><a href="?page={{ response.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in response.paginator.page_range %}
	   {% if 10 > forloop.counter  %}
      {% if response.number == i  %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
	  {% endif %}
    {% endfor %}
    {% if response.has_next %}
      <li><a href="?page={{ response.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
	{% endif %}
{% endblock %}
<footer>
 </footer>
 </body> 
 </html>