<!DOCTYPE html>
<html lang="en">

  <head>
  {# Load the tag library #}
{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
  
  </head>

  <body id="page-top">
   <table class="table table-bordered">
	<tr>
	 <th>Tweets</th>
	 <th>Country</th>
	 <th>Gender</th>
	 <th>Date</th>
	</tr>
	{% for tweet in tweets %}
		<tr>
		<td>{{ tweet.tweet }}</td>
		<td>{{ tweet.country }}</td>
		<td>{{ tweet.gender_predicted }}</td>
		<td>{{ tweet.dateTime }}</td>
		</tr>
	{% endfor %}
   </table>
  {% if tweets.has_other_pages %}
  <ul class="pagination">
    {% if tweets.has_previous %}
      <li><a href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in tweets.paginator.page_range %}
      {% if tweets.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if tweets.has_next %}
      <li><a href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



  </body>

</html>

